.navbar {
  /*margin-top:90px;*/
}

body {
  background-color: whitesmoke;
}

.px-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.hover-special-1 {
  opacity: 50%;
}

.hover-special-1:hover {
  opacity: 100%;
}

.border-red {
  border-color: red;
}

.text-red {
  color: red;
}