<div class="row col-lg-10 mx-auto template" id="qtype_temp1" data-qtid="1">
    <label class="col-4 my-auto" for="answer_temp1">Zahleneingabe:</label>
    <input class="col-4" type="number" id="answer_temp1" name="answer">
</div>

<div class="col-lg-10 mx-auto template" id="qtype_temp2" data-qtid="2">
    <div class="form-check">
        <input class="form-check-input" type="radio" id="answer_temp2" name="answer" value="">
        <label class="form-check-label my-auto" for="answer_temp2" id="answerLabel_temp2"></label>
    </div>
</div>

<div class="row col-lg-10 mx-auto template" id="qtype_temp3" data-qtid="3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="answer_temp3" name="answer" value="">
        <label class="form-check-label my-auto" for="answer_temp3" id="answerLabel_temp3"></label>
    </div>
</div>

<div class="row col-lg-10 mx-auto template" id="qtype_temp4" data-qtid="4">
    <label class="col-4 my-auto" for="answer_temp4">Zahleneingabe:</label>
    <input class="col-4" type="number" id="answer_temp4" name="answer">
</div>