{% extends "kwiss_it/lobby.html" %}
{% load static %}
{% load i18n lazysignup_tags %}
{% block game %}
    <div class="fixed-top">
        <div class="progress">
            <div class="progress-bar bg-warning" id="timeBar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto p-3 mb-4" id="qHeader">
                <div class="row pb-1 mb-1">
                    <div class="col-6 my-auto">
                        <small class="" id="qhCategory"></small>
                    </div>
                    <div class="col-6 my-auto text-end">
                        <small id="qhCurrentQuestion"></small> / <small id="qhMaxQuestion"></small>
                    </div>
                </div>
                <div class="row pb-1">
                    <h3 id="qhQuestion"></h3>
                </div>
                <div class="row pb-1 mb-1">
                    <div class="col-10 my-auto">
                        <h6 id="qhType"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto p-3 mb-4" id="answers">
        <div class="row col-lg-10">
            Hier werden die Antwortmöglichkeiten angezeigt.
        </div>
    </div>
    <div class="container mx-auto p-3 mb-4 invisible" id="qResult">
        <div class="row col-lg-10 mb-4">
            <h3 id="myResult"></h3>
            <table>
                <thead>
                <tr>
                    <th scope="col" class="col-4 text-center"></th>
                    <th scope="col" class="col-4 text-center"></th>
                    <th scope="col" class="col-4 text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="myAddition" class="text-center"></td>
                    <td id="myStreak" class="text-center"></td>
                    <td id="myScore" class="text-center"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-10">
            <table>
                <thead>
                <tr>
                    <th scope="col" class="col-3">Spieler</th>
                    <th scope="col" class="col-3 text-center">Ergebnis</th>
                    <th scope="col" class="col-3 text-center">Streak</th>
                    <th scope="col" class="col-3 text-center">Punkte insgesamt</th>
                </tr>
                </thead>
                <tbody id="overallResult">

                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-10 mx-auto">
                <table class="col-12">
                    <thead>
                    <tr>
                        <th scope="col" class="col-3"></th>
                        <th scope="col" class="col-2"></th>
                        <th scope="col" class="col-7"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {# TODO: Wird durch Text ersetzt beim Klicken #}
                            {# TODO: Beim Klick erstellt es schon den Report Inhalt in einer Div #}
                            {# TODO: Nach letzter Frage wird das Repooriting Div sichtbar #}
                            {# TODO: Button um einzelne Reports zu löschen am Ende #}
                            {# TODO: Button um alle sichtbaren Reports zu Senden am Ende #}
                            <button class="btn btn-outline-danger col-12" id="report">MELDEN</button>
                        </td>
                        <td></td>
                        <td>
                            <button class="btn btn-primary col-12" id="submitAnswer">Antwort senden</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h5>Voting:</h5>
                <table class="col-12">
                    <thead>
                    <tr>
                        <th scope="col" class="col-6"></th>
                        <th scope="col" class="col-2"></th>
                        <th scope="col" class="col-4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-bottom">
                        <td class="pb-2">Frage</td>
                        <td></td>
                        <td class="col-12 pb-2 my-auto btn-group" role="group">
                            <button type="button" class="btn btn-outline-success col-6" id="question-upvote">&#x1f44d;</button>
                            <button type="button" class="btn btn-outline-danger col-6" id="question-downvote">&#x1F44E;</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-2">Kategorie</td>
                        <td></td>
                        <td class="col-12 pt-2 my-auto btn-group" role="group">
                            <button type="button" class="btn btn-outline-success col-6" id="category-upvote">&#x1f44d;</button>
                            <button type="button" class="btn btn-outline-danger col-6" id="category-downvote">&#x1F44E;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="invisible" hidden>
        {% include 'kwiss_it/game_questiontypes.html' %}
    </div>
{% endblock %}
{% block gamescript %}
    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/game_addition.js' %}"></script>
{% endblock %}