<div class="row col-lg-10 template" id="qtype_temp1" data-qtid="1">
    <input type="number" id="answer_temp1" placeholder="Zahleneingabe">
</div>

<div class="row col-lg-10 template" id="qtype_temp2" data-qtid="2">
    <input type="radio" id="answer_temp2" name="answer" value="">
    <label for="answer_temp2" id="answerLabel_temp2"></label>
</div>

<div class="row col-lg-10 template" id="qtype_temp3" data-qtid="3">
    <input type="checkbox" id="answer_temp3" name="answer" value="">
    <label for="answer_temp3" id="answerLabel_temp3"></label>
</div>

<div class="row col-lg-10 template" id="qtype_temp4" data-qtid="4">
    <input type="number" id="answer_temp4" placeholder="Zahleneingabe">
</div>