{% extends "kwiss_it/base.html" %}
{% load static %}
{% block content %}

    <div class="col-lg-8 mx-auto p-3">
        <h1>Lobbys</h1>

        <table class="table table-hover align-middle text-center">
            <thead>
            <tr>
                <th scope="col">&#128274</th>
                <th scope="col">Lobbyname</th>
                <th scope="col">Spieler</th>
                <th scope="col">Spielmodus</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr id="table-row-template" hidden>
                <td>&#128274</td>
                <td>Lobbyname</td>
                <td>1/8</td>
                <td>Klassisch</td>
                <td>
                    <a href="#" class="btn btn-outline-primary btn-sm col-12" role="button">Beitreten</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
            Tooltip on top
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinPrivate">
            Launch static backdrop modal
        </button>
        <div class="modal fade" id="joinPrivate" tabindex="-1" data-bs-backdrop="static" aria-labelledby="joinPrivateLabel" data-lobbykey="000000" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="joinPrivateLabel">Passwort eingeben</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        TODO: Hier Passwort Abfrage einfügen
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zurück</button>
                        <button type="button" class="btn btn-primary">Bestätigen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# ##TODO Lobbylist zum joinen von Lobby #}

{% endblock %}

{% block bodyscript %}
    <script src="{% static 'js/lobbylist.min.js' %}"></script>
{% endblock %}