{% extends "kwiss_it/base.html" %}
{% load static %}
{% block content %}

    <div class="col-lg-8 mx-auto p-3">
        {% if infoMsg != '' and infoMsg != None %}
            <div class="alert alert-info">{{ infoMsg }}</div>
        {% endif %}
        {% if errorMsg != '' and errorMsg != None %}
            <div class="alert alert-danger">{{ errorMsg }}</div>
        {% endif %}
        <h1>Lobbys</h1>

        <table class="table table-hover align-middle text-center">
            <thead>
            <tr>
                <th scope="col">&#128274</th>
                <th scope="col">Lobbyname</th>
                <th scope="col">Spieler</th>
                <th scope="col">Spielmodus</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr id="table-row-template" hidden>
                <td>&#128274</td>
                <td>Lobbyname</td>
                <td>1/8</td>
                <td>Klassisch</td>
                <td>
                    <a href="#" class="btn btn-outline-primary btn-sm col-12" role="button">Beitreten</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="joinPrivate" tabindex="-1" data-bs-backdrop="static" aria-labelledby="joinPrivateLabel" data-lobbykey="000000" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinPrivateLabel">Passwort eingeben</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="inputLobbyPassword">Lobby Passwort eingeben:</label>
                    <input type="password" id="inputLobbyPassword" placeholder="Passwort">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zurück</button>
                    <button type="button" class="btn btn-primary" id="submitLobbyPassword">Bestätigen</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bodyscript %}
    <script src="{% static 'js/lobbylist.min.js' %}"></script>
{% endblock %}