{% extends "kwiss_it/base.html" %}

{% block content %}
    <meta id="lobby-data" data-lobby-key="{{ lobby_key }}" data-auth-token="{{ auth_token }}">
    <div id="question_data" hidden></div>
    <div id="answer_data" hidden></div>

    <div class="col-lg-8 mx-auto p-3" id="lobby">
        <h1>Lobby: {{ lobby_name }}</h1>

        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">Spieler</th>
                <th scope="col" class="text-center">Bereit?</th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr id="table-row-template" hidden>
                <td>Dummy</td>
                <td>Nicht bereit!</td>
            </tr>
            </tbody>
        </table>
    {# TODO: Button for being ready and sending ready to server #}
    </div>
    {# TODO: Timedrift im Race Mode erzeugt Report, also wenn der Spieler viel schneller war als der Server #}
    {# TODO: Spieler sendet Ingame alle 50-100ms einen Heartbeat. Workaround für ohne Websocket #}
    {# TODO: Spieler warten nach Frage auf alle anderen Spieler. Spieler ohne Heartbeat für 10s wird gekickt. Spiel wird nicht gewertet für ihn #}

{% endblock %}

{% block bodyscript %}
    <script>
        const lobby_key = document.getElementById('lobby-data').getAttribute('data-lobby-key');
        const question_data = document.getElementById('question_data');
        const answer_data = document.getElementById('answer_data');
        let first_name;
        let heartbeat_error = 0;

        let heartbeat = setInterval(() => {
            fetch('/lobby/heartbeat/' + lobby_key)
                .then((data) => {
                    heartbeat_error = 0;
                    data.json().then(json => {
                        if(parseInt(json.status) === 200) {
                            first_name = json.name;
                        } else {
                            // TODO: Show error message and redirect to lobbylist
                        }
                    })
                })
                .catch(() => heartbeat_error++);
            fetch(api_url + '/lobbyuser/?lkey=' + lobby_key)
                .then(data => data.json()
                    .then(json => {
                        const table_body = document.getElementById('table-body');
                        let cleared = false;

                        for (let i = 0; i < json.length; i++) {
                            let lobbyuser = json[i];
                            let player_name = lobbyuser.first_name;
                            let ready = lobbyuser.LPready;

                            // Create children
                            let row = document.createElement('tr');

                            let row_name = document.createElement('td');
                            let row_ready = document.createElement('td');

                            // Fill data
                            row_name.innerHTML = player_name;
                            row_ready.innerHTML = ready ? 'Bereit' : 'Nicht bereit';

                            // Set design
                            if(player_name === first_name)
                                row.classList.add('table-info');
                            else if(ready)
                                row.classList.add('table-success');
                            else
                                row.classList.add('table-danger');

                            row_ready.classList.add('text-center');

                            // Append children
                            row.appendChild(row_name);
                            row.appendChild(row_ready);

                            if(!cleared) {
                                table_body.innerHTML = "";
                                cleared = true;
                            }
                            table_body.appendChild(row);
                        }
                    }));
        }, 500);

        function fetchQuestions() {
            fetch(api_url + '/lobbyquestions/?lkey=' + lobby_key)
            .then(data => data.json()
            .then(json => {
                for(let i = 0; i < json.length; i++) {
                    let qid = json[i];

                    fetch(api_url + '/question/?qid=' + qid)
                    .then(qData => qData.json()
                    .then(qJson => {
                        let question = document.createElement('meta');

                        question.id = 'question-' + i;
                        question.classList.add('question-data');
                        question.setAttribute('data-qid', qid);
                        question.setAttribute('data-qtext', qJson[0].Qtext);
                        question.setAttribute('data-qtype', qJson[0].QTid);
                        question_data.appendChild(question);

                        fetch(api_url + '/answer/?qid=' + qid)
                        .then(aData => aData.json()
                        .then(aJson => {
                            for(let j = 0; j < aJson.length; j++) {
                                let answer = document.createElement('meta');

                                answer.id = 'answer-' + i + '-' + j;
                                answer.classList.add('answer-data');
                                answer.setAttribute('for', 'question-' + i);
                                answer.setAttribute('data-qid', qid);
                                answer.setAttribute('data-anum', aJson[j].Anum);
                                answer.setAttribute('data-atext', aJson[j].Atext);

                                answer_data.appendChild(answer);
                            }
                        }));
                    }));

                }
            }));
        }

        setTimeout(fetchQuestions, 2000);

    </script>
{% endblock %}