{% extends "kwiss_it/base.html" %}
{% load static %}

{% block content %}
    <meta id="lobby-data" data-lobby-key="{{ lobby_key }}" data-auth-token="{{ auth_token }}">
    <meta id="crypto" data-iv="0">
    <div id="question-data" hidden></div>
    <div id="answer-data" hidden></div>

    <div class="col-lg-8 mx-auto p-3" id="lobby">
        <div class="alert alert-danger d-flex align-items-center invisible" role="alert" hidden id="lobby-error">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div id="lobby-error-content">
                An example danger alert with an icon
            </div>
        </div>

        <h1>Lobby: {{ lobby_name }} (<span id="playeramount">{{ currentuser }}</span>/{{ userlimit }} Spielern)</h1>

        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th scope="col" class="col-8">Spieler</th>
                <th scope="col" class="col-4 text-center">Bereit?</th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr id="table-row-template" hidden>
                <td>Dummy</td>
                <td>Nicht bereit!</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-4 pt-3">
                <a class="col-12 btn btn-primary" href="{% url 'lobbylist' %}">Zurück zur Lobbyliste</a>
            </div>
            <div class="col-4 pt-3">
                <h2 id="lobbyDelayTime"></h2>
            </div>
            <div class="col-4 pt-3">
                <input type="submit" class="col-12 btn btn-primary" id="btnReady" name="btnReady" data-value="0" value="Bereit">
            </div>
        </div>
    </div>

    {# Using .invisible and hidden, because that works the best #}
    <div class="col-lg-8 mx-auto p-3 invisible" id="game" hidden>
        {%  block game %}
        {%  endblock %}
    </div>

    {% csrf_token %}

{% endblock %}

{% block bodyscript %}
    <script src="{%  static 'js/lobby.js' %}"></script>
    {% block gamescript %}
    {% endblock %}
{% endblock %}