{% extends "kwiss_it/base.html" %}

{% block content %}

    <div class="col-lg-8 mx-auto p-3">
        <h1>Lobbys</h1>

        <table class="table table-hover align-middle text-center">
            <thead>
            <tr>
                <th scope="col">&#128274</th>
                <th scope="col">Lobbyname</th>
                <th scope="col">Spieler</th>
                <th scope="col">Spielmodus</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr id="table-row-template" hidden>
                <td>&#128274</td>
                <td>Lobbyname</td>
                <td>1/8</td>
                <td>Klassisch</td>
                <td>
                    <a href="#" class="btn btn-outline-primary btn-sm col-12" role="button">Beitreten</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {# ##TODO Lobbylist zum joinen von Lobby #}

{% endblock %}

{% block bodyscript %}
      <script src="{% static 'js/lobbylist.min.js' %}"></script>
{% endblock %}