{% extends "kwiss_it/base.html" %}

{% block content %}

    <div class="col-lg-8 mx-auto p-3">
        <h1>Anmelden</h1>
        {% if errorMsg %}
            <div class="alert alert-danger">{{ errorMsg }}</div>
        {% endif %}
    </div>
    <div class="row col-lg-8 mx-auto p-3">
        <form class="needs-validation" id="loginForm" action="{% url 'login' %}" method="post">
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Benutzername</label>
                <input type="text" class="form-control" id="inputUsername" required>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Passwort</label>
                <input type="password" class="form-control" id="inputPassword" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="stayloggedin">
                <label class="form-check-label" for="stayloggedin">Angemeldet bleiben</label>
            </div>
            <div class="row justify-content-between">
                <div class="col d-grid">
                    <button type="submit" name="buttonLogin" class="btn btn-primary">Anmelden</button>
                </div>
                <div class="col d-grid">
                    <button type="submit" name="buttonLostPassword" class="btn btn-outline-danger">Password vergessen</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}