{% extends "kwiss_it/base.html" %}
{% load static %}

{% block content %}

    <div class="col-lg-8 mx-auto p-3">
        <h1>Registrieren</h1>
        {% if infoMsg != '' and infoMsg != None %}
            <div class="alert alert-info">{{ infoMsg }}</div>
        {% endif %}
        {% if errorMsg != '' and errorMsg != None %}
            <div class="alert alert-danger">{{ errorMsg }}</div>
        {% endif %}
    </div>

    <div class="row col-lg-8 mx-auto p-3 disabled">
        <form class="needs-validation" id="registerForm" action="{% url 'register' %}" method="post">

            <div class="mb-3 form-group">
                <label for="regInputEmail" class="form-label">Email Adresse:</label>
                <input type="email" class="form-control" name="inputEmail" id="regInputEmail" required maxlength="320">
            </div>

            <div class="form-group d-flex justify-content-between">
                <label for="regInputUsername" class="form-label col-auto">Benutzername:</label>
                <b class="col-auto text-red px-2" id="usernameStatus"></b>
            </div>
            <div class="mb-3 form-group">
                <input type="text" class="form-control" name="inputUsername" id="regInputUsername" required maxlength="64" onfocusout="testUsername()">
            </div>

            <div class="mb-3 form-group">
                <label for="regInputName" class="form-label">Anzeigename:</label>
                <input type="text" class="form-control" name="inputName" id="regInputName" required maxlength="32">
            </div>

            <div class="form-group d-flex justify-content-between">
                <label for="regInputPassword" class="form-label col-auto">Passwort:</label>
                <b class="col-auto text-red px-2 validate-password-error"></b>
            </div>
            <div class="mb-3 form-group">
                <input type="password" class="form-control validate-password validate-password-identical-first" name="inputPassword" id="regInputPassword" required maxlength="64">
            </div>

            <div class="form-group d-flex justify-content-between">
                <label for="regInputPassword2" class="form-label col-auto">Passwort wiederholen:</label>
                <b class="col-auto text-red px-2 validate-password-identical-error"></b>
            </div>
            <div class="mb-3 form-group">
                <input type="password" class="form-control validate-password-identical-second" name="inputPassword2" id="regInputPassword2" required maxlength="64">
            </div>

            <div class="row justify-content-between pt-3">
                <div class="col d-grid">
                    <input type="submit" name="buttonRegister" class="btn btn-primary" value="Registrieren" {% if user.is_authenticated %}disabled{% endif %}>
                </div>
            </div>

            {% csrf_token %}
        </form>
    </div>

{% endblock %}

{% block bodyscript %}
    <script src="{% static 'js/validation.min.js' %}"></script>
{% endblock %}