{% extends "kwiss_it/base.html" %}
{% load static %}

{% block content %}

    <div class="col-lg-8 mx-auto p-3">
        {% if infoMsg != '' and infoMsg != None %}
            <div class="alert alert-info">{{ infoMsg }}</div>
        {% endif %}
        {% if errorMsg != '' and errorMsg != None %}
            <div class="alert alert-danger">{{ errorMsg }}</div>
        {% endif %}
        {% if userprofile.private and not userprofile.username == user.username %}
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="alert alert-danger">Profil ist privat.</div>
            </div>
        {% endif %}

        <h1>Profil von {{ userprofile.requested }}</h1>

        {% if user.is_authenticated and userprofile.username == user.username %}
            <ul class="nav nav-tabs pt-4" id="profileTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">
                        Profil
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
                        Einstellungen
                    </button>
                </li>
            </ul>
        {% endif %}


        <div class="tab-content pt-2" id="profileTabContent">
            {% if userprofile.private and not userprofile.username == user.username %}
            {% elif errorCode == 1 %}
            {% else %}
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container">
                        <div class="row" id="profileInfoRow">
                            <div class="col-3 card bg-transparent text-white p-1 mb-auto">
                                <img class="col-lg-12 img-thumbnail card-img"
                                        {% if userprofile.picture == '' %}
                                     src="{% static 'images/profile/pb-0.png' %}"
                                        {% else %}
                                     src="{{ userprofile.picture }}"
                                        {% endif %} alt="">
                                <div class="card-img-overlay d-flex justify-content-end p-2">
                                    <a class="card-link hover-special-1 col-2"><img class="col-12 bg-light" src="{% static 'images/upload.png' %}" alt="" title="Upload"></a>
                                </div>
                            </div>
                            <div class="col-9">
                                {% if user.is_authenticated and userprofile.username == user.username %}
                                    <div class="row">
                                        <div class="col-5">Name:</div>
                                        <div class="col-7">{{ userprofile.firstname }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Email Adresse:</div>
                                        <div class="col-7">{{ user.email }}</div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-5">Name:</div>
                                        <div class="col-7">{{ userprofile.firstname }}</div>
                                    </div>
                                {% endif %}
                                {# TODO: [Optional] Add badges like administrator, moderator, ... #}
                                {% if userprofile.username == user.username and userprofile.registered != '' or not userprofile.registeredDisable and userprofile.registered != '' %}
                                    <div class="row">
                                        <div class="col-5">Registriert seit:</div>
                                        <div class="col-7">{{ userprofile.registered }}</div>
                                    </div>
                                {% endif %}
                                {% if userprofile.username == user.username and userprofile.lastseen != '' or not userprofile.lastseenDisable and userprofile.lastseen != '' %}
                                    <div class="row">
                                        <div class="col-5">Zuletzt gesehen:</div>
                                        <div class="col-7">{{ userprofile.lastseen }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if userprofile.description %}
                            <div class="row py-4" id="profileDescriptionRow">
                                <p class="" id="profileDescriptionRaw" hidden>{{ userprofile.description }}</p>
                                <p class="border-1 border rounded-1 pt-1" id="profileDescription"></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user.is_authenticated and userprofile.username == user.username %}
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="container py-2 mb-2">
                        <h4>Profileinstellungen:</h4>
                        <div class="row" id="changeProfileRow">
                            <form class="needs-validation" id="changeProfileForm" method="post">
                                <div class="row pt-3">
                                    <div class="col-6 my-auto">Anzeigename:</div>
                                    <div class="col-6">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input type="text" class="form-control" id="inputName" name="inputName" required maxlength="64" value="{{ userprofile.firstname }}">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between pt-3">
                                    <label for="newDescription" class="col-auto">Beschreibung anpassen:</label>
                                    <label class="col-auto"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Unterstützt
                                        Markdown</a></label>
                                </div>
                                <div class="row pt-1 mx-0">
                                    <textarea class="bg-light rounded-2" name="newDescription" id="newDescription" maxlength="1000">{{ userprofile.description }}</textarea>
                                </div>
                                <div class="row pt-2 mx-0">
                                    <div class="form-check col-6 my-auto">
                                        <input class="form-check-input" type="checkbox" value="" id="descriptionPreviewCheckbox">
                                        <label class="form-check-label" for="descriptionPreviewCheckbox">
                                            Live Vorschau
                                        </label>
                                    </div>
                                    <div class="col-6 my-auto text-end" id="descriptionCharacterLeft">1000 Zeichen verbleibend
                                    </div>
                                </div>
                                <div class="row mx-0 pt-2" id="descriptionPreviewDiv" hidden>
                                    <p class="border-2 border rounded-1 lh-1 mb-0 py-2" id="descriptionPreviewP"></p>
                                </div>

                                <div class="row pt-3">
                                    <div class="col-6">Privatsphäre Einstellungen:</div>
                                    <div class="col-6 ps-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="checkProfilePrivate" id="checkProfilePrivate" {% if userprofile.private %}checked{% endif %}>
                                            <label class="form-check-label" for="checkProfilePrivate">Profil privat</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="checkRegistered" id="checkRegistered" {% if userprofile.registered %}checked{% endif %}>
                                            <label class="form-check-label" for="checkRegistered">"Registriert seit" sichtbar</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="checkLastSeen" id="checkLastSeen" {% if userprofile.lastseen %}checked{% endif %}>
                                            <label class="form-check-label" for="checkLastSeen">"Zuletzt gesehen" sichtbar</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 pt-3">
                                    <input type="submit" class="col-12 btn btn-primary" id="inputChangeProfile" name="inputChangeProfile" value="Speichern">
                                </div>

                                {% csrf_token %}
                            </form>
                        </div>
                    </div>

                    <div class="row border-3 border-top py-2 mb-2" id="changePWRow">
                        <h4>Passwort ändern:</h4>
                        <div class="container">
                            <form class="needs-validation" id="changePasswordForm">
                                <div class="row pb-1">
                                    <div class="col-5 my-auto">Passwort eingeben:</div>
                                    <div class="col-7">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input type="password" class="form-control" id="inputPassword" name="inputPassword" required maxlength="64">
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col-5 my-auto">Passwort wiederholen:</div>
                                    <div class="col-7">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input type="password" class="form-control" id="inputPassword2" name="inputPassword2" required maxlength="64">
                                    </div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col-5">
                                        <input type="submit" class="form-control btn btn-outline-primary" id="inputChangePassword" name="inputChangePassword" value="Passwort ändern">
                                    </div>
                                    <div class="col-7"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block bodyscript %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{% static 'js/usersettings.min.js' %}"></script>
{% endblock %}